@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
  --blue: hsl(246, 80%, 60%);

  --work-red: hsl(15, 100%, 70%);
  --play-blue: hsl(195, 74%, 62%);
  --study-red: hsl(348, 100%, 68%);
  --exercise-green: hsl(145, 58%, 55%);
  --social-violet: hsl(264, 64%, 52%);
  --selfcare-orange: hsl(43, 84%, 65%);

  --Very-dark-blue: hsl(226, 43%, 10%);
  --Dark-blue: hsl(235, 46%, 20%);
  --Desaturated-blue: hsl(235, 45%, 61%);
  --Pale-Blue: hsl(236, 100%, 87%);
}

.work {
  background-color: var(--work-red);
}
.play {
  background-color: var(--play-blue);
}
.study {
  background-color: var(--study-red);
}
.exercise {
  background-color: var(--exercise-green);
}
.social {
  background-color: var(--social-violet);
}
.selfcare {
  background-color: var(--selfcare-orange);
}

html {
  font-size: 100%;
  font-family: 'Rubik', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--Dark-blue);
  text-decoration: none;
}

button:hover {
  cursor: pointer;
}

.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* USER */
/* UserCard and UserStatSort */
.dashboard-container {
  display: flex;
}



.user-card {
  background-color: var(--Dark-blue);

  width: 175px;
  border-radius: 10px;
  margin-right: 20px;

  overflow: hidden;
}

@media screen and (max-width: 687px) {

  .App {
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .dashboard-container {
    flex-direction: column;
  }

  .user-card {
    width: 275px;
    margin-bottom: 20px;
  }

  .user-profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  .user-card .user-profile--img {
    margin-bottom: 0px;
  }

  .user-card .user-profile--title {
    font-size: 20px;
    margin-bottom: 0px;
  }

  .user-profile--sort {
    display: flex;
    justify-content: space-between;
  }

  .dashboard-container .user-stats--container {
    grid-template-columns: 1fr; 
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
    gap: 20px 20px; 
    grid-template-areas: 
      "."
      "."
      "."
      "."
      "."
      "."; 
  }

  .dashboard-container .user-stats--container .stats-card--container {
    width: 275px;
  }

  .dashboard-container .user-stats--container .stats-card {
    width: 100%;
  }

  .dashboard-container .user-stats--container .current-stats {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.user-profile {
  background-color: var(--blue);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

  padding: 20px;

}

.user-profile--img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.user-profile--img img {
  width: 100%;
}

.user-profile p {
  color: var(--Pale-Blue);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 5px;
}

.user-profile h2 {
  color: var(--Pale-Blue);
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  margin-bottom: 30px;
}

.user-profile--sort {
  padding: 20px;
}

.user-profile--sort li {
  padding-bottom: 5px;
}

.user-profile--sort li button {
  background-color: transparent;
  border: none;

  font-family: 'Rubik', sans-serif;
  font-size: 12px;
  color: var(--Desaturated-blue);
}

.user-profile--sort li button:hover {
  color: var(--Pale-Blue);
}

.user-stats--container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px 20px;
  grid-template-areas:
    ". . . "
    ". . . ";
}

/* Stats Card */
.stats-card--container {

  overflow: hidden;
  /* background-color: var(--work-red); */
  border-radius: 10px;

  position: relative;
  z-index: 2;

}

.stats-card--container:hover {
  cursor: pointer;
}

.stats-card--container:hover .stats-card {
  background-color: var(--Desaturated-blue);
}

.stats-card--img {
  height: 25px;
}

.stats-card--img img {
  position: absolute;
  height: 45px;
  right: 15px;
  top: -5px;
  z-index: -1;
}

.stats-card {
  z-index: 40;
  width: 175px;
  
  background-color: var(--Dark-blue);
  border-radius: 10px;
  border: 5px solid transparent;

  padding: 20px;
  z-index: 1;
}

.stats-card .stats-card--title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.stats-card--title h3 {
  color: #fff;
  font-size: 12px;
  font-weight: 500;
  
}

.stats-card--title button {
  border: none;
  background-color: transparent;
}

.current-stats h2 {
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

.current-stats p {
  color: var(--Pale-Blue);
  font-size: 10px;
  font-weight: 500;
}
